.bgCard{
    background:#EFEFEF;
    border:1px solid #ccc;

}
.cardWH{
    width:300px;
    height:200px;
    text-align:center;
}
.justAlignCent{
    justify-content:center !important;
    align-items:center;
    padding:12px;
}